{% extends 'base.html' %}

{% block frame %}
<div class="test" style="font-size: 20px; text-align: center;">
    <button id="btn-test">测试按钮</button>
    <div id="div-status">status</div>
    <div id="div-data">data</div>

    <div style="margin: 100px auto auto auto">
        <form action="/app/maintain/image/" method="POST" enctype="multipart/form-data">
            <p><label>username</label><input type="text" name="username" value="syb1001"></p>
            <p><label>token</label><input type="text" name="access_token" value="hello_world"></p>
            <p><label>id</label><input type="text" name="id" value="26"></p>
            <p><label>file</label><input type="file" name="image" style="display:inline; margin: auto;"></p>
            <input type="submit" value="upload">
        </form>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('#btn-test').click(function() {
            $.get('/app/task/list/', {
                username: 'syb1001',
                access_token: 'hello_world',
                timestamp: 1383712332,
            }, function(data) {
                console.log(data);
                $('#div-status').text(data.status);
                $('#div-data').text(data.data);
            }, 'json');
        });
    });
</script>
{% endblock %}
