{% extends 'userframe.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/fonts/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="../static/assets/css/chosen.min.css"  media="screen">
{% endblock %}

{% block pageheader %}
{% if data.isNew %}
    修改部门
{% else %}
    添加部门
{% endif %}
{% endblock %}

{% block maincontent %}
<div class="row well" style="width: 60%;margin: auto;">
    <div class="col-xs-12">
        <form class="form-horizontal" action="/department_submit/" role="form" id="devicetypeform">
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">上级分类名称<span class="required">*</span></label>
                <div class="col-sm-7">
                <select class="col-sm-6" name="parentname">
                    <option value=""></option>
                    {% for c in data.class_list %}
                        <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">部门名称<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="name" value="{{ data.name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">分类识别码<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="code" value="{{ data.code }}" placeholder="4位数字，全局唯一">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">分类图标<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="logo" value="{{ data.logo }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">地址<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="address" value="{{ data.address }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">邮政编码<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="zipcode" value="{{ data.zipcode }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">电话<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="phone" value="{{ data.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">营业执照代码<span class="required">*</span></label>
                <div class="col-sm-7">
                    <input type="text" name="license" value="{{ data.license }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right">有效证件类型<span class="required">*</span></label>
                <div class="col-sm-7">
                    <select class="col-sm-6" name="licensetype">
                        <option value="">企业营业执照</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">内容</label>
                <div class="col-sm-7">
                    <input type="text" name="content" value="{{ data.content }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">备注</label>
                <div class="col-sm-7">
                    <input type="text" name="memo" value="{{ data.memo }}">
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit" onclick="return checkvalid();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block tailjs %}
    <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="../static/assets/js/chosen.jquery.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script type="text/javascript">
        function checkvalid() {
            var name = $("[name='name']").val();
            if(name.length < 1 || name.length > 40) {
                $("[name='name']").select();
                $.gritter.add({
                title: '添加部门失败！',
                text: '部门名称长度为1-40个字符！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }

            return true;
        }
    </script>
    <script>
        jQuery(function($) {
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                     else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
    </script>
{% endblock %}