{% extends 'frame.html' %}
{% block css %}
    <link href="../static/datatables/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.tableTools.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.editor.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/font-awesome.css" rel="stylesheet" media="screen">
    <style type="text/css">
    table.dataTable tr td:first-child {
        text-align: center;
    }
 
    table.dataTable tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    table.dataTable tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
 
    table.dataTable tr td.dataTables_empty:first-child:before {
        content: "";
    }
    </style>
{% endblock %}

{% block pageheader %}
    所有设备
{% endblock %}

{% block content %}
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="block-content collapse in">
            <div class="span12">
                <table id="deviceshow" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                        	<th>分类编号</th>
							<th>设备全称</th>
							<th>设备编号</th>
							<th>品牌</th>
							<th>生产厂家</th>
							<th>供应商</th>
							<th>设备分类编号</th>
							<th>设备状态</th>
							<th>产品序列号</th>
							<th>型号</th>
							<th>购买时间</th>
							<th>机器说明</th>
							<th>备注</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
    <!-- block --><!--
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">锅炉运行参数表计读数</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <table id="meter" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>表项</th>
                            <th>单位</th>
                            <th>阈值下限（“x”表示不限）</th>
                            <th>阈值上限（“x”表示不限）</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>-->
    <!-- /block -->
</div>
{% endblock %}

{% block tailjs %}
    <script src="../static/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/Editor/js/dataTables.tableTools.min.js"></script>    
    <script src="../static/Editor/js/dataTables.editor.min.js"></script> 
    <script type="text/javascript">
    var deviceshow;
	var meter; // use a global for the submit and return data rendering in the examples

	$(document).ready(function() {
	    deviceshow = new $.fn.dataTable.Editor( {
	        ajax: "/deviceall/",
	        //ajax: "../php/staff.php",
	        table: "#deviceshow",
	        fields: [ {
	                label: "分类编号:",
	                name: "classid"
	            }, {
	                label: "设备全称:",
	                name: "name"
	            }, {
	                label: "设备编号:",
	                name: "brief"
	            }, {
	                label: "品牌:",
	                name: "brand"
	            }, {
	                label: "生产厂家:",
	                name: "producer"
	            }, {
	                label: "供应商:",
	                name: "supplier"
	            }, {
	                label: "设备分类编号:",
	                name: "typeid"
	            }, {
	                label: "设备状态:",
	                name: "state"
	            }, {
	                label: "产品序列号:",
	                name: "serial"
	            }, {
	                label: "型号:",
	                name: "model"
	            }, {
	                label: "购买时间:",
	                name: "buytime"
	            }, {
	                label: "机器说明:",
	                name: "content"
	            }, {
	                label: "备注:",
	                name: "memo"
	            }
	        ]
	    } );

	    // Activate an inline edit on click of a table cell
	    $('#deviceshow').on( 'click', 'tbody td:not(:first-child)', function (e) {
	        deviceshow.inline( this );
	    } );
	    $('#deviceshow').DataTable( {
	        dom: "Tfrtip",
	        processing: true,
	        serverSide: true,
	        ajax: "/deviceall/",
	        //ajax: "../php/staff.php",
	        columns: [
	            { data: null, defaultContent: '', orderable: false },
	            { data: "classid" },
	            { data: "name" },
	            { data: "brief" },
	            { data: "brand" },
	            { data: "producer" },
	            { data: "supplier" },
	            { data: "typeid" },
	            { data: "state" },
	            { data: "serial" },
	            { data: "model" },
	            { data: "buytime" },
	            { data: "content" },
	            { data: "memo" }
	        ],
	        order: [ 1, 'asc' ],
	        tableTools: {
	            sRowSelect: "os",
	            sRowSelector: 'td:first-child',
	            aButtons: [
	                { sExtends: "editor_create", editor: deviceshow },
	                { sExtends: "editor_edit",   editor: deviceshow },
	                { sExtends: "editor_remove", editor: deviceshow }
	            ]
	        }
	    } );
	} );
/*
	$(document).ready(function() {
	    meter = new $.fn.dataTable.Editor( {
	        ajax: "/form/",
	        //ajax: "../php/staff.php",
	        table: "#meter",
	        fields: [ {
	                label: "表项:",
	                name: "table_item"
	            }, {
	                label: "单位:",
	                name: "unit"
	            }, {
	                label: "阈值下限（“x”表示不限）:",
	                name: "lower_shreshold"
	            }, {
	                label: "阈值上限（“x”表示不限）:",
	                name: "upper_threshold"
	            }
	        ]
	    } );

	    // Activate an inline edit on click of a table cell
	    $('#meter').on( 'click', 'tbody td:not(:first-child)', function (e) {
	        meter.inline( this );
	    } );
	    $('#meter').DataTable( {
	        dom: "Tfrtip",
	        processing: true,
	        serverSide: true,
	        ajax: "/form/",
	        //ajax: "../php/staff.php",
	        columns: [
	            { data: null, defaultContent: '', orderable: false },
	            { data: "table_item" },
	            { data: "unit" },
	            { data: "lower_shreshold" },
	            { data: "upper_threshold" }
	        ],
	        order: [ 1, 'asc' ],
	        tableTools: {
	            sRowSelect: "os",
	            sRowSelector: 'td:first-child',
	            aButtons: [
	                { sExtends: "editor_create", editor: meter },
	                { sExtends: "editor_edit",   editor: meter },
	                { sExtends: "editor_remove", editor: meter }
	            ]
	        }
	    } );
	} );*/
    </script>
{% endblock %}