{% extends 'userframe.html' %}
{% block css %}
<!--
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/fonts/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
-->
    <link href="../static/assets/css/chosen.min.css" rel="stylesheet"  media="screen">
{% endblock %}

{% block pageheader %}
    添加保养计划
{% endblock %}

{% block maincontent %}
<div class="row well" style="width: 60%;margin: auto;">
    <div class="col-xs-12">
        <form class="form-horizontal" action="/submit_deviceplan/" role="form" id="maintenanceform" enctype="multipart/form-data">
            <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">保养标题<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="title" value="" />
                </div>
            </div><!--
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">设备编号</label>
                <div class="col-sm-9">
                    <input id="brief" name="brief" type="text" data-provide="typeahead">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">设备编号<span class="required">*</span></label>
                <div class="col-sm-2">
                    <select class="chosen-select" id="brief" name="brief" type="text">
                        {% for brief in briefs %}
                            <option value="{{ brief }}">{{ brief }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">指派保养人<span class="required">*</span></label>
                <div class="col-sm-2">
                    <select class="chosen-select" id="editor" name="editor" form="maintenanceform">
                        {% for maintainer in maintainers %}
                        <option value="{{ maintainer }}">{{ maintainer }}</option>
                        {% endfor %}
                        <option value="" style="display:none"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">保养周期<span class="required">*</span></label>
                <div class="col-sm-9">
                    <select id="period" name="period" form="maintenanceform">
                        <option value="day">天</option>
                        <option value="week">周</option>
                        <option value="halfmonth">半个月</option>
                        <option value="month" selected="selected">月</option>
                        <option value="twomonth">两个月</option>
                        <option value="threemonth">季度</option>
                        <option value="fourmonth">四个月</option>
                        <option value="halfyear">半年</option>
                        <option value="year">年</option>
                        <option value="twoyear">两年</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">计划描述<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="createcontent" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">备注</label>
                <div class="col-sm-9">
                    <input type="text" name="memo" value="" />
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-3 control-label no-padding-top">id</label>
                <div class="col-sm-9">
                    <input type="text" name="id" value="" />
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit" onclick="return checkvalid();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block tailjs %}
<!--
    <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script>-->
    <script src="../static/assets/js/chosen.jquery.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script>
        jQuery(function($) {
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                     else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
    </script>
    <script type="text/javascript">
        /*var subjects = new Array();
        var x = 0;
        {% for brief in briefs %}
            subjects[x++] = "{{ brief }}"; 
        {% endfor %}
        $('#brief').typeahead({source: subjects});
*/
        function checkvalid() {
            var title = $("[name='title']").val();
            var brief = $("[name='brief']").val();
            var createcontent = $("[name='createcontent']").val();
            var memo = $("[name='memo']").val();
            if(title.length < 1 || title.length > 40) {
                $("[name='title']").select();
                $.gritter.add({
                title: '添加保养计划失败！',
                text: '保养标题长度为1-40个字符！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            /*
            var correctb = 0;
            for(var subject in subjects) {
                if(brief == subjects[subject])
                    correctb = 1;
            }
            if(correctb == 0) {
                $("[name='brief']").select();
                $.gritter.add({
                title: '添加保养计划失败！',
                text: '请输入正确的设备编号！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            */
            if(createcontent.length < 1 || createcontent.length > 80) {
                $("[name='createcontent']").select();
                $.gritter.add({
                title: '添加保养计划失败！',
                text: '计划描述长度为1-80个字符！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            if(memo.length > 80) {
                $("[name='memo']").select();
                $.gritter.add({
                    title: '添加保养计划失败！',
                    text: '备注长度为0-80个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            return true;
        }
    </script>
{% endblock %}