{% extends 'frame.html' %}
{% block css %}
    <link href="../static/datatables/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.tableTools.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.editor.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/font-awesome.css" rel="stylesheet" media="screen">
    <style type="text/css">
    table.dataTable tr td:first-child {
        text-align: center;
    }
 
    table.dataTable tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    table.dataTable tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
 
    table.dataTable tr td.dataTables_empty:first-child:before {
        content: "";
    }
    </style>
{% endblock %}

{% block pageheader %}
    所有设备
{% endblock %}

{% block content %}
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="block-content collapse in">
            <div class="span12">
                <table id="deviceshow" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                        	<th>分类编号</th>
							<th>设备全称</th>
							<th>设备编号</th>
							<th>品牌</th>
							<th>生产厂家</th>
							<th>供应商</th>
							<th>设备分类编号</th>
							<th>设备状态</th>
							<th>产品序列号</th>
							<th>型号</th>
							<th>购买时间</th>
							<th>机器说明</th>
							<th>备注</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block tailjs %}

{% endblock %}