{% extends 'userframe.html' %}

{% block js %}
    <script src="../static/assets/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block css %}
    <link href="../static/assets/css/datepicker.css" rel="stylesheet" media="screen">
    <link href="../static/assets/css/chosen.min.css" rel="stylesheet"  media="screen">
{% endblock %}
{% block pageheader %}
    {% if data.isNew %}
        添加设备<a class="btn btn-success" style="border:0px;float:right;margin-right: 30px;" href="/devicebatch_add">批量导入</a>
    {% else %}
        编辑设备
    {% endif %}
{% endblock %}
{% block maincontent %}
         <!-- validation -->
        <div class="row-fluid well" style="width: 75%;margin: auto;">
             <!-- block -->
            <div class="block">
                <div class="block-content collapse in">
                    <div class="span12">

        <!-- BEGIN FORM-->
        <form action="/deviceadd/" class="form-horizontal col-sm-12" enctype="multipart/form-data" method="POST">
            <fieldset>


                <div class="form-group" style="display: none;">
                    <label class="col-sm-3 control-label no-padding-right">阶段</label>
                    <div class="col-sm-9">
                        {% if data.isNew %}
                            <input name="phase" type="text" class="span6 m-wrap" value="NEW" readonly/>
                        {% else %}
                            <input name="phase" type="text" class="span6 m-wrap" value="EDIT" readonly/>
                        {% endif %}
                    </div>
                </div>


                <h4 class="header blue bolder smaller">分类信息</h4>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属部门<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="classname">
                            {% for class in data.class_list %}
                                {% if class in data.chosen_class %}
                                    <option value="{{ class }}" selected="selected">{{ class }}</option>
                                {% else %}
                                    <option value="{{ class }}">{{ class }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">设备分类编号<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="typename">
                            {% for dtype in data.dtype_list %}
                                {% if dtype in data.chosen_type %}
                                    <option value="{{ dtype }}" selected="selected">{{ dtype }}</option>
                                {% else %}
                                    <option value="{{ dtype }}">{{ dtype }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">厂家信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">品牌<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="brand" type="text" class="span6 m-wrap" value="{{ data.brand }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">供应商<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="supplier">
                            {% for supplier in data.supplier_list %}
                                {% if supplier in data.chosen_supplier %}
                                    <option value="{{ supplier }}" selected="selected">{{ supplier }}</option>
                                {% else %}
                                    <option value="{{ supplier }}">{{ supplier }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">生产厂家<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="producer">
                            {% for producer in data.producer_list %}
                                {% if producer in data.chosen_producer %}
                                    <option value="{{ producer }}" selected="selected">{{ producer }}</option>
                                {% else %}
                                    <option value="{{ producer }}">{{ producer }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">基本信息</h4>

               <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">设备状态<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="state">
                            <option value="0">锁定</option>
                            <option value="1">正常</option>
                            <option value="2">停用</option>
                            <option value="3">故障</option>
                            <option value="4">维修</option>
                            <option value="5">保养</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">设备全称<span class="required">*</span></label>
                    <div class="col-sm-9">
                        {% if data.isNew %}
                            <input name="name" type="text" class="span6 m-wrap" value=""/>
                        {% else %}
                            <input name="name" type="text" class="span6 m-wrap" value="{{ data.name }}" readonly/>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">设备简称(编号)<span class="required">*</span></label>
                    <div class="col-sm-9">
                        {% if data.isNew %}
                            <input name="brief" type="text" class="span6 m-wrap" value=""/>
                        {% else %}
                            <input name="brief" type="text" class="span6 m-wrap" value="{{ data.brief }}" readonly/>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品序列号<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="serial" type="text" class="span6 m-wrap" value="{{ data.serial }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">型号<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="model" type="text" class="span6 m-wrap" value="{{ data.model }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">购买时间<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="buytime" id="buytime" type="text" class="span6 m-wrap"  placeholder="2015-01-01"
                               value="{{ data.buytime |date:"Y-m-d" }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">设备安装位置<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="position" type="text" class="span6 m-wrap" value="{{ data.position }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">机器说明</label>
                    <div class="col-sm-9">
                        <input name="content" type="text" class="span6 m-wrap" value="{{ data.content }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备件列表</label>
                    <div class="col-sm-9">
                        <input name="spare" type="text" class="span6 m-wrap" value="{{ data.spare }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">责任人<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="owner" data-placeholder="请选择责任人">
                            {% for p in data.people %}
                                {% if p.name in data.chosen_owner %}
                                    <option value="{{ p.name }}" selected="selected">{{ p.name }}({{ p.position }})</option>
                                {% else %}
                                    <option value="{{ p.name }}">{{ p.name }}({{ p.position }})</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">二维码</label>
                    <div class="col-sm-9">
                        <input name="qrcode" type="text" class="span6 m-wrap" value="{{ data.qrcode }}" placeholder="根据设备编号自动生成" readonly/>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">保养信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上次保养时间</label>
                    <div class="col-sm-9">
                        <input name="lastmaintenance" id="lastmaintenance" type="text" class="span6 m-wrap"  placeholder=""
                               value="{{ data.lastmaintenance |date:"Y年m月d日" }}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">下次保养时间</label>
                    <div class="col-sm-9">
                        <input name="nextmaintenance" id="nextmaintenance" type="text" class="span6 m-wrap"  placeholder=""
                               value="{{ data.nextmaintenance |date:"Y年m月d日" }}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上次维修时间</label>
                    <div class="col-sm-9">
                        <input name="lastrepaire" id="lastrepaire" type="text" class="span6 m-wrap"  placeholder=""
                               value="{{ data.lastrepaire |date:"Y年m月d日" }}" readonly/>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">抄表信息</h4>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最后抄表时间</label>
                    <div class="col-sm-9">
                        <input name="lastmeter" id="lastmeter" type="text" class="span6 m-wrap"  placeholder=""
                               value="{{ data.lastmeter |date:"Y年m月d日" }}" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">状态日志</label>
                    <div class="col-sm-9">
                        <input name="statelog" type="text" class="span6 m-wrap" value="{{ data.statelog }}" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">注意事项</label>
                    <div class="col-sm-9">
                        <input name="notice" type="text" class="span6 m-wrap" value="{{ data.notice }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注</label>
                    <div class="col-sm-9">
                        <input name="memo" type="text" class="span6 m-wrap" value="{{ data.memo }}"/>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" onclick="return checkvalid();">确定</button>
                        <button type="button" class="btn">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- END FORM-->
    </div>
    </div>
</div>
            <!-- /block -->
</div>
         <!-- /validation -->
{% endblock %}

{% block tailjs %}
    <script src="../static/assets/js/chosen.jquery.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script>
    $(function(){
        $('#buytime').datepicker({
            format: 'yyyy-mm-dd'
        });
        var server_msg="{{ server_msg }}";
        if (server_msg) {
            $.gritter.add({
                title: '系统消息',
                text: server_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    })
    </script>
    <script>
        jQuery(function($) {
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                     else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
    </script>
    <script>
        function checkvalid() {
           var name = $("[name='name']").val();
           var brand = $("[name='brand']").val();
           var serial = $("[name='serial']").val();
           var brief = $("[name='brief']").val();
           if(name.length < 1 || name.length > 40) {
                $("[name='name']").select();
                $.gritter.add({
                    title: '添加设备失败！',
                    text: '设备全称长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
           }
           else if(brief.length < 1 || brief.length > 40) {
                $("[name='brief']").select();
                $.gritter.add({
                    title: '添加设备失败！',
                    text: '设备编号长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
           }
           else if(brand.length < 1 || brand.length > 40) {
                $("[name='brand']").select();
                $.gritter.add({
                    title: '添加设备失败！',
                    text: '设备品牌长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
           }
           else if(serial.length < 1 || serial.length > 100) {
                $("[name='serial']").select();
                $.gritter.add({
                    title: '添加设备失败！',
                    text: '产品序列号长度为1-100个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
           }
            return true;
        }
    </script>
{% endblock %}