{% extends 'frame.html' %}
{% block css %}
    <link href="../static/datatables/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.tableTools.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/dataTables.editor.min.css" rel="stylesheet" media="screen">
    <link href="../static/Editor/css/font-awesome.css" rel="stylesheet" media="screen">
    <style type="text/css">
    table.dataTable tr td:first-child {
        text-align: center;
    }
 
    table.dataTable tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    table.dataTable tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
 
    table.dataTable tr td.dataTables_empty:first-child:before {
        content: "";
    }
    </style>
{% endblock %}

{% block pageheader %}
    移动端设置
{% endblock %}

{% block content %}
 <div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="block-content collapse in">
            <div class="span12">
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>表项</th>
                            <th>单位</th>
                            <th>阈值下限（“x”表示不限）</th>
                            <th>阈值上限（“x”表示不限）</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>
{% endblock %}

{% block tailjs %}
    <script src="../static/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/Editor/js/dataTables.tableTools.min.js"></script>    
    <script src="../static/Editor/js/dataTables.editor.min.js"></script> 
    <script type="text/javascript">
var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
        ajax: "/form/",
        //ajax: "../php/staff.php",
        table: "#example",
        fields: [ {
                label: "表项:",
                name: "table_item"
            }, {
                label: "单位:",
                name: "unit"
            }, {
                label: "阈值下限（“x”表示不限）:",
                name: "lower_shreshold"
            }, {
                label: "阈值上限（“x”表示不限）:",
                name: "upper_threshold"
            }
        ]
    } );

    // Activate an inline edit on click of a table cell
    $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
    $('#example').DataTable( {
        dom: "Tfrtip",
        processing: true,
        serverSide: true,
        ajax: "/form/",
        //ajax: "../php/staff.php",
        columns: [
            { data: null, defaultContent: '', orderable: false },
            { data: "table_item" },
            { data: "unit" },
            { data: "lower_shreshold" },
            { data: "upper_threshold" }
        ],
        order: [ 1, 'asc' ],
        tableTools: {
            sRowSelect: "os",
            sRowSelector: 'td:first-child',
            aButtons: [
                { sExtends: "editor_create", editor: editor },
                { sExtends: "editor_edit",   editor: editor },
                { sExtends: "editor_remove", editor: editor }
            ]
        }
    } );
} );
    </script>
{% endblock %}