<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">菜单</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{ username }} <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="./profile">个人资料</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="./login">登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li id='index'>
                        <a href="/">首页</a>
                    </li>
                    <li id='user'>
                        <a href="/user">用户管理</a>
                    </li>
                    <li id='device'>
                        <a href="/device">设备管理</a>
                    </li>
                    <li id='maintenance' class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">维修<i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="/unmain">尚未维修</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/mainhist">维修记录</a>
                            </li>
                        </ul>
                    </li>
                    <li id='4' class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">库存<i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="/spare">备件管理</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/sparetype">备件种类</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/sparebrand">备件品牌</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/sparehist">备件出入库管理历史</a>
                            </li>
                        </ul>
                    </li>
                    <li id='front'>
                        <a href="/font" role="button" class="dropdown-toggle" data-toggle="dropdown">移动端设置</a>
                    </li>
                    <li id='setting'>
                        <a href="/setting" role="button" class="dropdown-toggle" data-toggle="dropdown">系统设置</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<script>
    var clicked = {{ clicked_item }};
    if(clicked != '')
    {
        if(clicked.className != '')
        {
            clicked.className = clicked.className + " active";
        }
        else
        {
            clicked.className = "active";
        }
    }
</script>