{% extends 'frame.html' %}

{% block css %}
    <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
{% endblock %}

{% block pageheader %}
    管理首页
{% endblock %}

{% block content %}

<div class="block">
    <div>
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <div style="font-size: 18px;font-weight: 400;">
                    <strong class="green">{{ data.name }}</strong>，您好！今天是 <strong id="Date"></strong>。
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-sm-7 infobox-container">
            {% if "所有用户" in modelsshow %}
            <a href="/user" style="text-decoration:none;color:green">
            <div class="infobox infobox-green">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-group"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        
                        {% if data.usernum %}
                            {{ data.usernum }}
                        {% else %}
                            0
                        {% endif %}
                        
                    </span>
                    <div class="infobox-content">当前项目部人数</div>
                </div>

                <!--<div class="stat stat-success">8%</div>-->
            </div>
            </a>
            {% endif %}

            {% if "所有设备" in modelsshow %}
            <a href="/devicebyclass/" style="text-decoration:none;color:cornflowerblue">
            <div class="infobox infobox-blue">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-dashboard"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        
                        {% if data.devicenum %}
                            {{ data.devicenum }}
                        {% else %}
                            0
                        {% endif %}
                        
                    </span>
                    <div class="infobox-content">当前项目部设备数</div>
                </div>
            </div>
            </a>
            {% endif %}

            {% if "积分记录" in modelsshow %}
            <a href="/score_history/">
            <div class="infobox infobox-pink">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-trophy"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        
                        {% if data.userscore %}
                            {{ data.userscore }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                    <div class="infobox-content">当月积分与排名</div>
                </div>
                

                <div class="stat stat-success">
                    {% if data.userrank %}
                        {{ data.userrank }}
                    {% else %}
                        {{ data.usernum }}
                    {% endif %}
                </div>
            </div>
            </a>
            {% endif %}

            {% if "维修" in modelsshow %}
            <a href="/view_maintaining/" style="text-decoration:none;color:red">
            <div class="infobox infobox-red">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-wrench"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        
                        {% if data.unmaintenance1 %}
                            {{ data.unmaintenance1 }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                    <div class="infobox-content">尚未维修</div>
                </div>
            </div>
            {% endif %}
            </a>

            {% if "保养" in modelsshow %}
            <a href="/view_upkeeping/" style="text-decoration:none;color:orangered">
            <div class="infobox infobox-orange2">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-shopping-cart"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        {% if data.unmaintenance2 %}
                            {{ data.unmaintenance2 }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                    <div class="infobox-content">尚未保养</div>
                </div>
            </div>
            </a>
            {% endif %}

            {% if "未完成任务" in modelsshow %}
            <a href="/view_tasking/" style="text-decoration:none;color:dodgerblue">
            <div class="infobox infobox-blue2">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-tasks"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">
                        
                        {% if data.unfinishedtask %}
                            {{ data.unfinishedtask }}
                        {% else %}
                            0
                        {% endif %}
                        
                    </span>
                    <div class="infobox-content">未完成任务</div>
                </div>
            </div>
            </a>
            {% endif %}

        </div>
        <div class="vspace-12-sm"></div>


        <div class="col-sm-5">
            {% if "库存" in modelsshow %}
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-star orange"></i>
                        当前库存借出总量
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">

                            <tbody>
                                {% if "所有备件信息" in modelsshow or "备件使用" in modelsshow %}
                                <tr>
                                    <td>备品备件</td>

                                    <td>
                                        <b class="green">
                                            {% if data.spareusing %}
                                                {{ data.spareusing }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-info arrowed-right arrowed-in">
                                            <a href="/view_spare" style="text-decoration:none;color:white">查看</a>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
            
                                {% if "所有工具信息" in modelsshow or "工具使用" in modelsshow %}
                                <tr>
                                    <td>工具</td>

                                    <td>
                                        <b class="blue">
                                            {% if data.toolusing %}
                                                {{ data.toolusing }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-success arrowed-in arrowed-in-right">
                                            <a href="/view_tool" style="text-decoration:none;color:white">查看</a>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <div style="font-size: 18px;font-weight: 400;">
                请查看以下统计信息，合理分配人员，及时完成任务。
            </div>
        </div>
    </div>

    <div>
        {% if "考勤记录" in modelsshow %}
        <div class="col-sm-6">
            <div id="container0">
            </div>
        </div>
        {% endif %}
        {% if "任务" in modelsshow %}
        <div class="col-sm-6">
            <div id="container1">
            </div>
        </div>
        {% endif %}
    </div>

    <div>
        {% if "维修" in modelsshow %}
        <div class="col-sm-6">
            <div id="container2">
            </div>
        </div>
        {% endif %}
        {% if "保养" in modelsshow %}
        <div class="col-sm-6">
            <div id="container3">
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <div style="font-size: 18px;font-weight: 400;">
                请查看以下统计信息，合理分配人员，及时完成任务。
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block tailjs %}
<script src="../static/Highcharts-4.1.7/js/highcharts.js"></script>
<script type="text/javascript">
$(document).ready(function() {

	// 创建两个变量，一个数组中的月和日的名称
	var monthNames = [ "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月" ];
	var dayNames= ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"]

	// 创建一个对象newDate（）
	var newDate = new Date();
	// 提取当前的日期从日期对象
	newDate.setDate(newDate.getDate());
	//输出的日子，日期，月和年
	$('#Date').html(newDate.getFullYear() + " " + monthNames[newDate.getMonth()] + newDate.getDate() + '日 ' + dayNames[newDate.getDay()]);

    var purview_msg = "{{ purview_msg }}";
    if (purview_msg) {
        $.gritter.add({
            title: '您没有权限进行此操作',
            text: purview_msg,
            class_name: 'gritter-error gritter-center'
        });
    }
});
</script>
<script>
    $('#container0').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '员工签到统计（周）'
        },
        xAxis: {
            categories: ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
        },
        yAxis: {
            title: {
                text: '人数'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        series: [{
            name:"项目部内签到人数",
            data: {{ data.attendence }}
        }]
    });
</script>
<script>
$(function() {
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '任务状况统计'
        },
        xAxis: {
            categories: ['计划','执行中','执行完成','审核完成'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '数量(注：“审核完成”的数目按月计算)'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' '
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name:"处于该状态的任务数量",
            data: {{ data.tasks }}
        }]
    });
});
</script>

<script>
$(function() {
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '维修状况统计'
        },
        xAxis: {
            categories: ['未指派执行者','已指派执行者','执行者已确认','执行完成','审核完成'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '数量(注：“审核完成”的数目按月计算)'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' '
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name:"处于该状态的维修任务数量",
            data: {{ data.maintenance1 }}
        }]
    });
});
</script>
<script>
$(function() {
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '保养状况统计'
        },
        xAxis: {
            categories: ['未指派执行者','已指派执行者','执行者已确认','执行完成','审核完成'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '数量(注：“审核完成”的数目按月计算)'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' '
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name:"处于该状态的保养任务数量",
            data: {{ data.maintenance2 }}
        }]
    });
});
</script>
{% endblock %}