{% extends 'frame.html' %}

{% block css %}
    <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
{% endblock %}

{% block pageheader %}
    管理首页
{% endblock %}

{% block content %}

<div class="block">

</div>

{% endblock %}

{% block tailjs %}
    <script src="../static/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/DT_bootstrap.js"></script>
    <script type="text/javascript">
    $('td').click(function(){
        $('input').val($(this).html());
        $('input').select();
    });
    </script>
{% endblock %}