{% extends 'frame.html' %}

{% block css %}
    <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
{% endblock %}

{% block pageheader %}
    管理首页
{% endblock %}

{% block content %}

<div class="block">

</div>

{% endblock %}

{% block tailjs %}
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
<script type="text/javascript">
    
</script>
{% endblock %}