{% extends 'base.html' %}
{% block title %}登录{% endblock %}

{% block frame %}
    <div id = "login">
    <div class="container">

      <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">用户登录</h2>
        <input name="username" type="text" class="input-block-level" placeholder="用户名">
        <input name="password" type="password" class="input-block-level" placeholder="密码">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label>
        <button class="btn btn-large btn-primary" type="submit">登录</button>
      </form>

    </div> <!-- /container -->
    </div>
{% endblock %}

{% block tailjs %}
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
{% endblock %}