{% extends 'userframe.html' %}

{% block js %}
	<script src="../static/assets/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block css %}
	<link href="../static/assets/css/datepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block pageheader %}
	抄表数据
{% endblock %}

{% block maincontent %}
<div class="row-fluid" style="width: 80%;">
	{% if "抄表数据" in modelsshow %}
	<div class="col-sm-7 col-sm-offset-3 well">
		<form action="/meter_device_date/" class="form-horizontal" method="GET">
			<h4 class="header blue bolder smaller">按设备和日期查找</h4>
			<div class="form-group">
				<label class="col-sm-3 control-label">设备编号</label>
				<div class="col-sm-6">
					<input name="brief" type="text" class="m-wrap" value="{% if brief %}{{ brief }}{% endif %}" />
				</div>
				<label class="col-sm-3 control-label" style="text-align: left;">（可选）</label>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">起始日期</label>
				<div class="col-sm-9">
					<input name="date_start" type="text" id="date-start" class="m-wrap" placeholder="单击此处选择日期" value="{{ start_date | date:'Y-m-d' }}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">结束日期</label>
				<div class="col-sm-9">
					<input name="date_end" type="text" id="date-end" class="m-wrap" placeholder="单击此处选择日期" value="{{ end_date | date:'Y-m-d' }}">
					<button type="submit" class="btn btn-primary" style="float: right;">查找</button>
				</div>
			</div>
		</form>
	</div>
	{% else %}
	<h4>您没有查看抄表数据的权限</h4>
	{% endif %}
</div>
{% endblock %}

{% block tailjs %}
<script type="text/javascript">
	$(document).ready(function() {
		$.fn.datepicker.dates['en'] = {
			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
			daysMin: ["日", "一", "二", "三", "四", "五", "六"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			today: "今天",
			clear: "清空",
			format: "yyyy-mm-dd",
			titleFormat: "yyyy年MM月", /* Leverages same syntax as 'format' */
			weekStart: 0
		};
		$('#date-start').datepicker({
			format: 'yyyy-mm-dd',
			startView: 0,
			todayHighlight: true
		});
		$('#date-end').datepicker({
			format: 'yyyy-mm-dd',
			startView: 0,
			todayHighlight: true
		});
	});
</script>
{% endblock %}
