{% extends 'userframe.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/fonts/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
{% endblock %}

{% block pageheader %}
    添加生产厂家
{% endblock %}

{% block maincontent %}
<div class="row well" style="width: 60%;margin: auto;">
    <div class="col-xs-12">
        <form class="form-horizontal" action="/submit_producer/" role="form" id="producerform">
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">公司名称</label>
                <div class="col-sm-7">
                    <input type="text" name="name" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">公司联系方式</label>
                <div class="col-sm-7">
                    <input id="brief" name="contact" type="text" data-provide="typeahead">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">公司地址</label>
                <div class="col-sm-7">
                    <input type="text" name="address" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">公司联系人</label>
                <div class="col-sm-7">
                    <input id="brief" name="linkman" type="text" data-provide="typeahead">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">联系人电话</label>
                <div class="col-sm-7">
                    <input type="text" name="mobile" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-top">备注</label>
                <div class="col-sm-7">
                    <input type="text" name="memo" value="">
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit" onclick="return checkvalid();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block tailjs %}
    <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script type="text/javascript">
        function checkvalid() {
            var name = $("[name='name']").val();
            if(name.length < 1 || name.length > 40) {
                $("[name='name']").select();
                $.gritter.add({
                title: '添加生产厂家失败！',
                text: '公司名称长度为1-40！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            var contact = $("[name='contact']").val();
            if(contact.length < 1 || contact.length > 40) {
                $("[name='contact']").select();
                $.gritter.add({
                title: '添加生产厂家失败！',
                text: '公司联系方式的长度为1-40！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            var address = $("[name='address']").val();
            if(address.length < 1 || address.length > 40) {
                $("[name='address']").select();
                $.gritter.add({
                title: '添加生产厂家失败！',
                text: '公司地址长度为1-40！',
                class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            return true;
        }
    </script>
{% endblock %}