 {% extends 'frame.html' %}

{% block js %}
    <script src="../static/assets/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block css %}
    <link href="../static/assets/css/bootstrap-editable.min.css" rel="stylesheet" />
    <link href="../static/assets/css/datepicker.min.css" rel="stylesheet" />
{% endblock %}


{% block pageheader %}
    用户信息
{% endblock %}

{% block content %}
<div>
    <div id="user-profile-1" class="user-profile row">
        <div class="col-xs-12 col-sm-3 center">
            <div>
                <span class="profile-picture">
                    {% if userinfo.avatar %}
                        <img id="avatar" class="editable img-responsive" alt="用户头像" width="180" height="180" src="{{ MEDIA_URL }}{{ userinfo.avatar }}" />
                    {% elif user_avatar %}
                        <img id="avatar" class="editable img-responsive" alt="用户头像" width="180" height="180" src="{{ MEDIA_URL }}{{ user_avatar }}" />
                    {% else %}
                        <img id="avatar" class="editable img-responsive" alt="用户头像" width="180" height="180" src="{{ MEDIA_URL }}default-user.png" />
                    {% endif %}
                </span>

                <div class="space-4"></div>

                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                    <div class="inline position-relative">
                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                            <i class="ace-icon fa fa-circle light-green"></i>
                            &nbsp;
                            <span class="white">{{ userinfo.name }}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="space-6"></div>

        </div>


        <div class="col-xs-12 col-sm-9">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-16">
                <li class="active">
                    <a data-toggle="tab" href="#edit-basic">
                        <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                        基本信息
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#edit-password">
                        <i class="blue ace-icon fa fa-key bigger-125"></i>
                        修改密码
                    </a>
                </li>
            </ul>

            <div class="tab-content profile-edit-tab-content">
                <div id="edit-basic" class="tab-pane in active">
                    <form action="/profile/" method="POST" class="form-horizontal">
                    <h4 class="header blue bolder smaller">基本信息</h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-username">用户名</label>

                        <div class="col-sm-9">
                            <span class="input-icon input-icon-right">
                                <input class="input-medium input-mask-phone" type="text" id="form-field-username" name="username" value="{{ userinfo.username }}" readonly/>
                                <i class="ace-icon fa fa-user fa-flip-horizontal"></i>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-username">姓名</label>
                        <div class="col-sm-9">
                            <span class="input-icon input-icon-right">
                                <input class="input-medium input-mask-phone" type="text" id="form-field-name" name="name"   value="{{ userinfo.name }}"/>
                                <i class="ace-icon fa fa-star fa-flip-horizontal"></i>
                            </span>
                        </div>
                    </div>


                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-date">出生年月</label>
                        <div class="col-sm-9">
                            <div class="input-medium">
                                <div class="input-group">
                                    <input class="input-medium date-picker" id="birthday" name="birthday" type="text" value="{{ userinfo.birthday | date:'Y-m-d' }}" data-date-format="yyyy-mm-dd" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">性别</label>

                        <div class="col-sm-9">
                            <label class="inline">
                                <input type="radio" name="gender"value="1"  class="ace" {% ifequal userinfo.gender "1"%}checked{% endifequal %}/>
                                <span class="lbl middle"> 男</span>
                            </label>

                            &nbsp; &nbsp;
                            <label class="inline">
                                <input type="radio" name="gender" value="0" class="ace" {% ifequal userinfo.gender "0"%}checked{% endifequal %}/>
                                <span class="lbl middle"> 女</span>
                            </label>
                        </div>
                    </div>

                    <div class="space"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-phone">手机</label>

                        <div class="col-sm-9">
                            <span class="input-icon input-icon-right">
                                <input class="input-medium input-mask-phone" type="text" name="mobile" id="form-field-phone" value="{{ userinfo.mobile }}"/>
                                <i class="ace-icon fa fa-phone fa-flip-horizontal"></i>
                            </span>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-email">邮箱</label>

                        <div class="col-sm-9">
                            <span class="input-icon input-icon-right">
                                <input type="email" id="form-field-email"  name="email" value="{{ userinfo.email }}" />
                                <i class="ace-icon fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">联系地址</label>
                        <div class="col-sm-9">
                            <span class="input-icon input-icon-right">
                                <input name="address" type="text"  value="{{ userinfo.address }}"/>
                                <i class="ace-icon fa fa-home"></i>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" onclick="return validate_for_userinfo()">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                      确定
                            </button>
                        </div>
                    </div>
                    </form>
                </div>

                <div id="edit-password" class="tab-pane">
                    <form class="form-horizontal" method="POST" action="/change_password/">
                    <div class="space-10"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">旧密码</label>

                        <div class="col-sm-9">
                            <input type="password" id="form-field-pass0" name="old-password"/>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">新密码</label>

                        <div class="col-sm-9">
                            <input type="password" id="form-field-pass1" name="new-password"/>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">确认密码</label>

                        <div class="col-sm-9">
                            <input type="password" id="form-field-pass2" name="confirm-password"/>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" onclick="return validate_for_passwd();">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                      确定
                            </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tailjs %}
    <script src="../static/assets/js/bootstrap-editable.min.js"></script>
    <script src="../static/assets/js/ace-editable.min.js"></script>
    <script src="../static/assets/js/bootstrap-wysiwyg.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script type="text/javascript">
        jQuery(function($) {

            //editables on first profile page
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
                                        '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';

            //editables

            //text editable
            $('#username')
            .editable({
                type: 'text',
                name: 'username'
            });

            //custom date editable
            $('#signup').editable({
                type: 'adate',
                date: {
                    format: 'yyyy/mm/dd',
                    viewformat: 'yyyy/mm/dd',
                    weekStart: 1
                }
            });

            $('#age').editable({
                type: 'spinner',
                name : 'age',
                spinner : {
                    min : 16,
                    max : 99,
                    step: 1,
                    on_sides: true
                    //,nativeUI: true//if true and browser support input[type=number], native browser control will be used
                }
            });

            $('#about').editable({
                mode: 'inline',
                type: 'wysiwyg',
                name : 'about',

                wysiwyg : {
                    //css : {'max-width':'300px'}
                },
                success: function(response, newValue) {
                }
            });



            // *** editable avatar *** //
            try {//ie8 throws some harmless exceptions, so let's catch'em

                //first let's add a fake appendChild method for Image element for browsers that have a problem with this
                //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
                try {
                    document.createElement('IMG').appendChild(document.createElement('B'));
                } catch(e) {
                    Image.prototype.appendChild = function(el){}
                }

                var last_gritter
                $('#avatar').editable({
                    type: 'image',
                    name: 'avatar',
                    value: null,
                    image: {
                        //specify ace file input plugin's options here
                        btn_choose: '更改头像',
                        droppable: true,
                        maxSize: 1100000,//~1MB

                        //and a few extra ones here
                        name: 'avatar',//put the field name here as well, will be used inside the custom plugin
                        on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                            if(last_gritter) $.gritter.remove(last_gritter);
                            if(error_type == 1) {//file format error
                                last_gritter = $.gritter.add({
                                    title: '上传的文件不是一张图片！',
                                    text: '请选择一个 jpg|gif|png 格式的图片！',
                                    class_name: 'gritter-error gritter-center'
                                });
                            } else if(error_type == 2) {//file size rror
                                last_gritter = $.gritter.add({
                                    title: '上传图片太大！',
                                    text: '头像大小不能超过1MB!',
                                    class_name: 'gritter-error gritter-center'
                                });
                            }
                            else {//other error
                            }
                        },
                        on_success : function() {
                            $.gritter.removeAll();
                        }
                    },
                    url: function(params) {
                        // ***UPDATE AVATAR HERE*** //

                        var deferred = new $.Deferred

                        var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
                        if(!value || value.length == 0) {
                            deferred.resolve();
                            return deferred.promise();
                        }

                        var submit_url = '/change_avatar/';
                        var $form = $('#avatar').next().find('.editableform:eq(0)')
                        var file_input = $form.find('input[type=file]:eq(0)');

                        //user iframe for older browsers that don't support file upload via FormData & Ajax
                        if( !("FormData" in window) ) {
                            deferred = new $.Deferred

                            var iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                            $form.after('<iframe id="'+iframe_id+'" name="'+iframe_id+'" frameborder="0" width="0" height="0" src="about:blank" style="position:absolute;z-index:-1;"></iframe>');
                            $form.append('<input type="hidden" name="temporary-iframe-id" value="'+iframe_id+'" />');
                            $form.next().data('deferrer' , deferred);//save the deferred object to the iframe
                            $form.attr({'method' : 'POST', 'enctype' : 'multipart/form-data',
                                        'target':iframe_id, 'action':submit_url});

                            $form.get(0).submit();

                            //if we don't receive the response after 60 seconds, declare it as failed!
                            setTimeout(function(){
                                var iframe = document.getElementById(iframe_id);
                                if(iframe != null) {
                                    iframe.src = "about:blank";
                                    $(iframe).remove();

                                    deferred.reject({'status':'fail','message':'Timeout!'});
                                }
                            } , 60000);
                        }
                        else {
                            var fd = null;
                            try {
                                fd = new FormData($form.get(0));
                            } catch(e) {
                                //IE10 throws "SCRIPT5: Access is denied" exception,
                                //so we need to add the key/value pairs one by one
                                fd = new FormData();
                                $.each($form.serializeArray(), function(index, item) {
                                    fd.append(item.name, item.value);
                                });
                                //and then add files because files are not included in serializeArray()'s result
                                $form.find('input[type=file]').each(function(){
                                    if(this.files.length > 0) fd.append(this.getAttribute('name'), this.files[0]);
                                });
                            }

                            //if file has been drag&dropped , append it to FormData
                            if(file_input.data('ace_input_method') == 'drop') {
                                var files = file_input.data('ace_input_files');
                                if(files && files.length > 0) {
                                    fd.append(file_input.attr('name'), files[0]);
                                }
                            }

                            deferred = $.ajax({
                                url: submit_url,
                                type: 'POST',
                                processData: false,
                                contentType: false,
                                dataType: 'json',
                                data: fd,
                                xhr: function() {
                                    var req = $.ajaxSettings.xhr();
                                    /*if (req && req.upload) {
                                        req.upload.addEventListener('progress', function(e) {
                                            if(e.lengthComputable) {
                                                var done = e.loaded || e.position, total = e.total || e.totalSize;
                                                var percent = parseInt((done/total)*100) + '%';
                                                //bar.css('width', percent).parent().attr('data-percent', percent);
                                            }
                                        }, false);
                                    }*/
                                    return req;
                                },
                                beforeSend : function() {
                                    //bar.css('width', '0%').parent().attr('data-percent', '0%');
                                },
                                success : function() {
                                    //bar.css('width', '100%').parent().attr('data-percent', '100%');
                                }
                            })
                        }



                        deferred.done(function(res){
                            if(res.status == 'OK') {
                                $('#avatar').get(0).src = "{{ MEDIA_URL }}" + res.useravatar;
                                $.gritter.add({
                                    title: '修改个人信息成功！',
                                    text: '头像更新成功！',
                                    class_name: 'gritter-info gritter-center'
                                });
                                window.location.reload();
                            }
                            else {
                                alert(res.status)
                                $.gritter.add({
                                    title: '修改个人信息失败！',
                                    text: res.message,
                                    class_name: 'gritter-error gritter-center'
                                });
                            }
                        }).fail(function(res){
                            $.gritter.add({
                                title: '修改个人信息失败！',
                                text: '上传头像失败！请重试！',
                                class_name: 'gritter-error gritter-center'
                            });
                        });


                        return deferred.promise();


                        // ***END OF UPDATE AVATAR HERE*** //
                    },

                    success: function(response, newValue) {
                    }
                })
            }catch(e) {}




            //////////////////////////////
            $('#profile-feed-1').ace_scroll({
                height: '250px',
                mouseWheelLock: true,
                alwaysVisible : true
            });

            $('a[ data-original-title]').tooltip();

            ////////////////////
            //change profile
            $('[data-toggle="buttons"] .btn').on('click', function(e){
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                $('.user-profile').parent().addClass('hide');
                $('#user-profile-'+which).parent().removeClass('hide');
            });



            /////////////////////////////////////
            $(document).one('ajaxloadstart.page', function(e) {
                //in ajax mode, remove remaining elements before leaving page
                try {
                    $('.editable').editable('destroy');
                } catch(e) {}
                $('[class*=select2]').remove();
            });
        });
    </script>
    <script>
    $(function(){
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            startView: 2
        });
        var server_msg="{{ server_msg }}";
        if (server_msg) {
            $.gritter.add({
                title: '系统消息',
                text: server_msg,
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
        }
    })
    </script>
    <script type="text/javascript">
    function validate_for_userinfo() {
        var name = $("[name='name']").val();
        var mobile = $("[name='mobile']").val();
        mobile_re = /^1\d{10}$/;
        var birthday = $("[name='birthday']").val();
        birthday_re = /^(\d{4})-(\d{2})-(\d{2})$/
        if(name.length < 1) {
            $("[name='name']").select();
            $.gritter.add({
                title: '修改用户信息失败！',
                text: '姓名不能为空！',
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
            return false;
        }
        else if(!mobile_re.test(mobile)) {
            $("[name='mobile']").select();
            $.gritter.add({
                title: '修改用户信息失败！',
                text: '手机号格式有误！',
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
            return false;
        }
        else if(!birthday_re.test(birthday)) {
            $("[name='mobile']").select();
            $.gritter.add({
                title: '修改用户信息失败！',
                text: '日期格式有误！',
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
            return false;
        }
        return true;
    }

    function validate_for_passwd() {
        var new_password = $("[name='new-password']").val();
        var confirm_password = $("[name='confirm-password']").val();
        if(new_password != confirm_password) {
            $("[name='new-password']").select();
            $.gritter.add({
                title: '修改密码失败！',
                text: '两次密码不一致！',
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
            return false;
        }
        return true;
    }

    $(function(){
        var msg = "{{ msg }}";
        if (msg) {
            $.gritter.add({
                title: '提示',
                text: msg,
                class_name: 'gritter-error gritter-center',
                time: 1500
            });
        }
    });
    </script>
{% endblock %}