{% extends 'userframe.html' %}
{% block js %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/duallistbox/css/bootstrap-duallistbox.css">
{% endblock %}
{% block pageheader %}
    {% if isNew %}
        创建角色
    {% else %}
        编辑角色
    {% endif %}
{% endblock %}
{% block maincontent %}
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="/submit_role/{{ data.id }}/" role="form" id="roleform">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">所属<span class="required">*</span></label>
                <div class="col-sm-9">
                    <select name="classname">
                        {% for class in classes %}
                            {% ifequal class data.classname %}
                                <option value="{{ class }}" selected="selected">{{ class }}</option>
                            {% else %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">角色名称<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="name" value="{{ data.name }}">
                </div>
            </div>
            {% if not isNew %}
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">创建时间</label>
                <div class="col-sm-9">
                    {{ data.createdatetime | date:"Y年m月d日" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">创建者</label>
                <div class="col-sm-9">
                    {{ data.creator }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">编辑时间</label>
                <div class="col-sm-9">
                    {{ data.editdatetime | date:"Y年m月d日" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">编辑者</label>
                <div class="col-sm-9">
                    {{ data.editor }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">备注</label>
                <div class="col-sm-9">
                    <input type="text" name="memo" value="{{ data.memo }}">
                </div>
            </div>
            <div class="hr hr-16 hr-dotted"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top" for="duallist">
                    <p>编辑权限<span class="required">*</span></p>
                    <p>（左侧为可添加权限）</p>
                </label>
                <div class="col-sm-8">
                    <select id="duallistbox" multiple="multiple" size="10" name="duallistbox" form="roleform">
                        {% for op in data.purviews %}
                            {% if op.selected %}
                            <option value="{{ op.id }}" selected="selected">{{ op.name }}</option>
                            {% else %}
                            <option value="{{ op.id }}">{{ op.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit" onclick="return checkvalid();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block tailjs %}
<script type="text/javascript" src="../static/duallistbox/js/jquery.bootstrap-duallistbox.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
<script>
    $(function(){
        var server_msg="{{ server_msg }}";
        if (server_msg) {
            $.gritter.add({
                title: '系统消息',
                text: server_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        dualListbox = $('#duallistbox').bootstrapDualListbox({
            moveOnSelect: true,
            preserveSelectionOnMove: 'moved',
            selectorMinimalHeight: 300,
            infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>'
        });
        var dualListboxContainer = dualListbox.bootstrapDualListbox('getContainer');
        dualListboxContainer.find('.btn').addClass('btn-white btn-info btn-bold');

        $('.bootstrap-duallistbox-container').css('margin-left', '0px');

        $('button[type="reset"]').on('click', function(e) {
            e.preventDefault();
            $('#roleform')[0].reset();
            dualListbox.bootstrapDualListbox('refresh',true);
        });
    });
</script>
<script>
    function checkvalid() {
        var name = $("[name='name']").val();
        var memo = $("[name='memo']").val();
        var duallist = document.getElementById("duallistbox");
        if(name.length < 1 || name.length > 40) {
            $("[name='name']").select();
            $.gritter.add({
                title: '设置角色失败！',
                text: '角色名称长度为1-40个字符！',
                class_name: 'gritter-error gritter-center'
            });
            return false;
        }
        else if(memo.length > 80) {
            $("[name='memo']").select();
            $.gritter.add({
                title: '设置角色失败！',
                text: '备注长度为0-80个字符！',
                class_name: 'gritter-error gritter-center'
            });
            return false;
        }
        var hasselected = false;
        for(var i = 0; i < duallist.options.length; i++) {
            if (duallist.options[i].selected == true)
                hasselected = true;
        }
        if(hasselected == false) {
            $("[name='duallistbox']").select();
            $.gritter.add({
                title: '设置角色失败！',
                text: '请至少选择一个权限！',
                class_name: 'gritter-error gritter-center'
            });
            return false;
        }
        return true;
    }
</script>
{% endblock %}