{% extends 'userframe.html' %}
{% block js %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/duallistbox/css/bootstrap-duallistbox.css">
<link rel="stylesheet" type="text/css" href="../static/multiselect/css/multi-select.css">
{% endblock %}
{% block pageheader %}
    {% if isNew %}
        新建路线
    {% else %}
        修改路线
    {% endif %}
{% endblock %}
{% block maincontent %}
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="/submit_route/{{ data.id }}/" role="form" id="roleform">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">路线名称</label>
                <div class="col-sm-9">
                    <input type="text" name="name" value="{{ data.name }}">
                </div>
            </div>
            {% if not isNew %}
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">创建时间</label>
                <div class="col-sm-9">
                    {{ data.createTime }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">创建者</label>
                <div class="col-sm-9">
                    {{ data.creator }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">编辑时间</label>
                <div class="col-sm-9">
                    {{ data.editTime }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">编辑者</label>
                <div class="col-sm-9">
                    {{ data.editor }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">抄表周期</label>
                <div class="col-sm-9">
                    <input type="text" name="period" value="{{ data.period }}">小时
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top">起始时间</label>
                <div class="col-sm-9">
                    <input type="text" name="startTime" value="{{ data.startTime }}">
                </div>
            </div>
            <div class="hr hr-16 hr-dotted"></div>
            <input id="route-input" style="display: none;" type="text" name="routeString" value="{{ data.routeString }}">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top" for="routeList">
                    <p>编辑路线</p>
                </label>
                <div class="col-sm-8">
                    <select id="multiselect" multiple="multiple" size="10" name="routeList" form="roleform">
                        {% for form in data.forms %}
                            {% if form.selected %}
                            <option value="{{ form.id }}" selected="selected">{{ form.brief }}</option>
                            {% else %}
                            <option value="{{ form.id }}">{{ form.brief }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block tailjs %}
<script type="text/javascript" src="../static/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var rstr = $('#route-input').val();
        var arr = [];
        if (rstr != "") {
            arr = $('#route-input').val().split(',');
        }

        var multiselect = $('#multiselect').multiSelect({
            keepOrder: true,
            selectableHeader: '<div class="custom-header">备选设备</div>',
            selectionHeader: '<div class="custom-header">已选设备</div>',
            afterSelect: function (values) {
                for(var index in values){
                    arr.push(values[index]); 
                }
                $('#route-input').val(arr.toString());
            },
            "afterDeselect": function (values) {
                for(var index in values){
                    arr.splice($.inArray(values[index], arr), 1);
                }
                $('#route-input').val(arr.toString());
            }
        });

        $('button[type="reset"]').on('click', function(e) {
            e.preventDefault();
            $('#roleform')[0].reset();
            multiselect.multiSelect('refresh');
            arr = $('#route-input').val().split(',');
        });
    });
</script>
{% endblock %}