{% extends 'userframe.html' %}
{% block js %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/fullcalendar/css/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.custom.min.css">

<style type="text/css">
.fc-event-container {
	cursor: pointer;
}
.external-event {
	cursor: move;
}
</style>
{% endblock %}
{% block pageheader %}
	排班表
{% endblock %}
{% block maincontent %}

{% if "排班设置" in modelsshow %}
<div class="row-fluid">
	<div class="col-xs-9">
		<div id="calendar"></div>
	</div>
	<div class="col-xs-3">
		<div class="fc-toolbar">
			<h2>班组抄表路线</h2>
		</div>
		<div id="routes">
			{% for route in routes %}
			<div class="external-event label-info" data-id="{{ route.id }}" data-start="{{ route.startTime | date:"c" }}" data-name="{{ route.name }}">
				<i class="ace-icon fa fa-arrows"></i>
				{{ route.name }}
			</div>
			{% endfor %}
		</div>
        <div class="fc-toolbar" style="margin-top: 40px;">
            <h2>自动排班</h2>
        </div>
        <div>
            <form action="/auto_schedule/" method="post">
                <table class="table center" style="margin-bottom: 5px;">
                    <tbody>
                        <tr>
                            <td><label><input type="radio" name="time_length" value="week1" checked="checked">1周</label></td>
                            <td><label><input type="radio" name="time_length" value="week2">2周</label></td>
                        </tr>
                        <tr>
                            <td><label><input type="radio" name="time_length" value="month1">1月</label></td>
                            <td><label><input type="radio" name="time_length" value="month2">2月</label></td>
                        </tr>
                    </tbody>
                </table>
                <div style="float: right;">
                    <button class="btn btn-sm btn-danger" type="submit" name="operation" value="delete">清除</button>
                    <button class="btn btn-sm btn-success" type="submit" name="operation" value="copy">排班</button>
                </div>
            </form>
        </div>
	</div>
</div>

<div class="modal fade" id="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
				<h4 class="modal-title">路线设置</h4>
			</div>
			<div class="modal-body">
				<div class="no-margin">
					<h5>路线：<span id="route-name"></span></h5>
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>抄表人</th>
								<th>部门</th>
							</tr>
						</thead>
						<tbody>
						{% for user in users %}
							<tr>
								<td>
									<label class="pos-rel">
										<input type="checkbox" class="ace" name="user-checkbox" data-id={{ user.id }} {% if not "编辑排班" in modelsshow %}disabled="disabled"{% endif %}>
										<span class="lbl"></span>
										{{ user.name }}
									</label>
								</td>
								<td>{{ user.department }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% if "编辑排班" in modelsshow %}
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-danger" data-action="delete" style="float: left;"><i class="ace-icon fa fa-trash-o"></i>删除</button>
				<button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i>保存</button>
				<button type="button" class="btn btn-sm" data-dismiss="modal" data-action="cancel"><i class="ace-icon fa fa-times"></i>取消</button>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% else %}
<h4>您没有排班的权限</h4>
{% endif %}

{% endblock %}
{% block tailjs %}
<script type="text/javascript" src="../static/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="../static/fullcalendar/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="../static/fullcalendar/lang/zh-cn.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui.custom.min.js"></script>

<script>
	$(function(){
		var purview_msg = "{{ purview_msg }}";
		if (purview_msg) {
			$.gritter.add({
				title: '您没有权限进行此操作',
				text: purview_msg,
				class_name: 'gritter-error gritter-center'
			});
		}
	});
</script>

{% if "编辑排班" in modelsshow %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#routes div.external-event').each(function() {
			$(this).draggable({
				zIndex: 999,
				revert: true,
				revertDuration: 0
			});
		});

		$('#calendar').fullCalendar({
			height: 650,
			aspectRatio: 1.2,
			weekends: true,
			eventStartEditable: false,
			droppable: true,
			defaultView: 'month',
			allDaySlot: false,
			fixedWeekCount: false,

			buttonHtml: {
				prev: '<i class="ace-icon fa fa-chevron-left"></i>',
				next: '<i class="ace-icon fa fa-chevron-right"></i>'
			},
			header: {
				left: 'today',
				center: 'title',
				right: 'prev,next'
			},

			drop: function(date) {
				$('#calendar').fullCalendar('renderEvent', {
					// this是被拖动的dom元素
					// date是松开鼠标时指向的日期
					data_id: $(this).attr('data-id'), // 路线id
					users: [], // 用户id数组
					is_new: true, // 表示是新建的事件
					title: $(this).attr('data-name'),
					start: date,
					color: 'orange',
					textColor: 'white'
				}, true);
			},

			eventAfterRender: function(event, element, view) {
				if (event.is_new) {
					element.click();
				}
			},

			eventClick: function(calEvent, jsEvent, view) {
				$('#modal').attr('event-id', calEvent._id);
				$('#route-name').text(calEvent.title);
				$("input[name='user-checkbox']").prop('checked', false);
				$('#modal').modal('show');

				for (var userindex in calEvent.users){
					var user_id = calEvent.users[userindex];
					$("input[data-id="+user_id+"]").prop('checked', true);
				}
			}
		});

		$('#modal').find('button[type=submit]').on('click', function(ev){
			// 获取当前模态框对应的事件
			var event = $('#calendar').fullCalendar('clientEvents', $('#modal').attr('event-id'))[0];
			// 判断复选框的值构造user列表
			var users = []
			$("input[name='user-checkbox']:checked").each(function(){
				users.push($(this).attr('data-id'));
			});

			// 添加新的排班记录到后台
			$.post('/add_schedule/', $.param({route_id: event.data_id, users: users, date: event.start.format('YYYY-MM-DD')}, true), function(data) {
				data = JSON.parse(data);
				if (data.success) {
					alert('排班成功');
				} else {
					alert('排班失败');
				}
				location.reload();
			});

			$('#modal').modal('hide');
		});

		$('#modal').find('button[data-action=delete]').on('click', function() {
			var event = $('#calendar').fullCalendar('clientEvents', $('#modal').attr('event-id'))[0];

			if (event.is_new) {
				// 新添加的事件还未提交到后台则在dom中删去
				$('#calendar').fullCalendar('removeEvents', event._id);
			} else {
				// 已存在的事件提交到后台删除
				$.post('/delete_schedule/', {route_id: event.data_id, date: event.start.format('YYYY-MM-DD')}, function(data) {
					data = JSON.parse(data);
					if (data.success) {
						alert('删除成功');
					} else {
						alert('删除失败');
					}
					location.reload();
				})
			}

			$('#modal').modal('hide');
		});

		$('#modal').on('hide.bs.modal', function() {
			var event = $('#calendar').fullCalendar('clientEvents', $('#modal').attr('event-id'))[0];

			if (event.is_new) {
				// 新添加的事件还未提交到后台则在dom中删去
				$('#calendar').fullCalendar('removeEvents', event._id);
			}

			// $('#modal').modal('hide');
		});

		$.post('/view_schedule/', function(json){
			for (var day in json.shifts){
				dayinfo = json.shifts[day];
				for(var routeindex in dayinfo){
					routeinfo = dayinfo[routeindex];
					$('#calendar').fullCalendar('renderEvent', {
						title: routeinfo['name'],
						start: day+' '+routeinfo['startTime'],
						color: '#82af6f',
						textColor: 'white',
						data_id: routeinfo['id'],
						users: routeinfo['users']
					}, true);
				}
			}
		},'json');

	});
</script>
{% endif %}

{% endblock %}
