{% extends 'userframe.html' %}

{% block pageheader %}
    积分设置
{% endblock %}

{% block maincontent %}
<div class="row-fluid well" style="width: 75%; margin: auto;">
    <form action="/score/submit/" class="form-horizontal col-sm-12" method="POST">
        <h4 class="header blue bolder smaller">基本分管理</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">抄表基本分</label>
            <div class="col-sm-9">
                <input name="meterscore" type="text" class="span6 m-wrap" value="{{ meterscore }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">维修保养基本分</label>
            <div class="col-sm-9">
                <input name="maintenancescore" type="text" class="span6 m-wrap" value="{{ maintenancescore }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">任务基本分</label>
            <div class="col-sm-9">
                <input name="taskscore" type="text" class="span6 m-wrap" value="{{ taskscore }}" />
            </div>
        </div>

        <div class="clearfix form-actions" style="margin-top: 0px; margin-bottom: 0px; padding-top: 20px; padding-bottom: 0px;">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-primary" onclick="return validate_form();">确定</button>
                <button type="reset" class="btn">取消</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block tailjs %}
<script>
function validate_form() {
    var meterscore = $("[name='meterscore']").val();
    var maintenancescore = $("[name='maintenancescore']").val();
    var taskscore = $("[name='taskscore']").val();

    var number = /^[0-9]+.?[0-9]*$/;   //判断字符串是否为数字     //判断正整数 /^[1-9]+[0-9]*]*$/

    if(!number.test(meterscore)) {
        $("[name='meterscore']").select();
        $.gritter.add({
            title: '格式不正确！',
            text: '抄表基本分应为数字！',
            class_name: 'gritter-error gritter-center',
            time: 1500
        });
        return false;
    }else if(!number.test(maintenancescore)) {
        $("[name='maintenancescore']").select();
        $.gritter.add({
            title: '格式不正确！',
            text: '维修保养基本分应为数字！',
            class_name: 'gritter-error gritter-center',
            time: 1500
        });
        return false;
    }else if(!number.test(taskscore)) {
        $("[name='taskscore']").select();
        $.gritter.add({
            title: '格式不正确！',
            text: '任务基本分应为数字！',
            class_name: 'gritter-error gritter-center',
            time: 1500
        });
        return false;
    }

    return true;
}

$(function(){
    var msg = "{{ msg }}";
    if (msg) {
        $.gritter.add({
            title: '提示',
            text: msg,
            class_name: 'gritter-error gritter-center',
            time: 1500
        });
    }
});
</script>
{% endblock %}