{% extends 'userframe.html' %}

{% block js %}
    <script src="../static/datepicker/bootstrap-datepicker.js"></script>
{% endblock %}
{% block css %}
    <link href="../static/datepicker/datepicker.css" rel="stylesheet" media="screen">
    <link href="../static/assets/css/chosen.min.css" rel="stylesheet"  media="screen">
{% endblock %}
{% block pageheader %}
    {% if data.isNew %}
        添加工具信息 <a class="btn btn-success" style="border:0px;float:right;margin-right: 30px;" href="/toolbatch_add">批量导入</a>
    {% else %}
        编辑工具信息
    {% endif %}
{% endblock %}
{% block maincontent %}
         <!-- validation -->
        <div class="row-fluid well" style="width: 75%;margin: auto;">
             <!-- block -->
            <div class="block">
                <div class="block-content collapse in">
                    <div class="span12">

        <!-- BEGIN FORM-->
        <form action="/submit_tool/" class="form-horizontal col-sm-12" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group" style="display:none">
                    <label class="col-sm-3 control-label no-padding-right">id<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="id" type="text" class="span6 m-wrap" value="{{ data.id }}" />
                    </div>
                </div>

                <h4 class="header blue bolder smaller">分类信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="classname">
                            {% for class in classes %}
                                {% ifequal class data.classname %}
                                    <option value="{{ class }}" selected="selected">{{ class }}</option>
                                {% else %}
                                    <option value="{{ class }}">{{ class }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">厂家信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">品牌<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="brand" type="text" class="span6 m-wrap" value="{{ data.brand }}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">生产厂家<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" id="producer" name="producer">
                            <option value="">无</option>
                            {% for producer in producers %}
                                {% ifequal producer data.producer %}
                            <option value="{{ producer }}" selected="selected">{{ producer }}</option>
                                {% else %}
                            <option value="{{ producer }}">{{ producer }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">供应商<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" id="supplier" name="supplier">
                            <option value="">无</option>
                            {% for supplier in suppliers %}
                                {% ifequal supplier data.supplier %}
                            <option value="{{ supplier }}" selected="selected">{{ supplier }}</option>
                                {% else %}
                            <option value="{{ supplier }}">{{ supplier }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">基本信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">工具全称<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="name" type="text" class="span6 m-wrap" value="{{ data.name }}" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">工具编号<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="brief" type="text" class="span6 m-wrap" value="{{ data.brief }}" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">型号<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="model" type="text" class="span6 m-wrap" value="{{ data.model }}" required/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">使用班组<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="ownername">
                            {% for class in classes %}
                                {% ifequal class data.ownername %}
                                    <option value="{{ class }}" selected="selected">{{ class }}</option>
                                {% else %}
                                    <option value="{{ class }}">{{ class }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">内容<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="content" type="text" class="span6 m-wrap" value="{{ data.content }}" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最小库存<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="minimum" type="number" min="0" class="span6 m-wrap" value="{{ data.minimum }}" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注</label>
                    <div class="col-sm-9">
                        <input name="memo" type="text" class="span6 m-wrap" value="{{ data.memo }}"/>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" onclick="return checkvalid();">确定</button>
                        <button type="button" class="btn">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- END FORM-->
    </div>
    </div>
</div>
            <!-- /block -->
</div>
         <!-- /validation -->
{% endblock %}

{% block tailjs %}
    <script src="../static/assets/js/bootstrap-tag.min.js"></script>
    <script src="../static/assets/js/chosen.jquery.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script>
        $(function(){
            var server_msg="{{ server_msg }}";
            if (server_msg) {
                $.gritter.add({
                    title: '系统消息',
                    text: server_msg,
                    class_name: 'gritter-error gritter-center'
                });
            }
        })
    </script>
    <script>
        jQuery(function($) {
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                     else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
    </script>
    <script>
        function checkvalid() {
            var brand = $("[name='brand']").val();
            var name = $("[name='name']").val();
            var brief = $("[name='brief']").val();
            var model = $("[name='model']").val();
            var content = $("[name='content']").val();
            var memo = $("[name='memo']").val();
            if(brand.length < 1 || brand.length > 40) {
                $("[name='brand']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '工具品牌长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(name.length < 1 || name.length > 40) {
                $("[name='name']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '工具全称长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(brief.length < 1 || brief.length > 40) {
                $("[name='brief']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '工具编号长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(model.length < 1 || model.length > 40) {
                $("[name='model']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '工具型号长度为1-40个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(content.length < 1 || content.length > 80) {
                $("[name='content']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '工具内容长度为1-80个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(memo.length > 80) {
                $("[name='memo']").select();
                $.gritter.add({
                    title: '设置工具失败！',
                    text: '备注长度为0-80个字符！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            return true;
        }
    </script>
{% endblock %}