{% extends 'userframe.html' %}
{% block css %}
    <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/fonts/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="../static/TableTools/css/dataTables.tableTools.min.css" />
{% endblock %}

{% block pageheader %}
    保养记录
{% endblock %}

{% block content %}
<div id="my-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" action="/submit_upkeep/" role="form" id="maintenanceform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter blue no-margin">审核保养任务</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group" style="display:none">
                        <label class="col-sm-3 control-label no-padding-top"></label>
                        <div class="col-sm-9">
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-top">给分系数<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <select id="factor" name="factor" form="maintenanceform" onchange="auditChange()">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="-1">审核不通过</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <label class="col-sm-3 control-label no-padding-top">id</label>
                        <div class="col-sm-9">
                            <input type="text" name="id" value="" />
                        </div>
                    </div>
                    <div class="form-group" id="auditreason" style="display:none">
                        <label class="col-sm-3 control-label no-padding-top">不通过的理由</label>
                        <div class="col-sm-9">
                            <input type="text" name="failedreason" value="" />
                        </div>
                    </div>
                    <div class="form-group" id="ifchangeperson" style="display:none">
                        <label class="col-sm-3 control-label no-padding-top">是否改变保养人</label>
                        <div class="col-sm-9">
                            <select id="issameperson" name="issameperson" form="maintenanceform">
                                <option value="1">否</option>
                                <option value="0">是</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<a id="tabletools"></a>
 <div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="block-content collapse in">
            <div class="span12">

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="maintenance">
                    <thead>
                        <tr>
                            <th>所属</th>
                            <th>保养标题</th>
                            <th>设备编号</th>
                            <th>名称</th>
                            <th>地点</th>
                            <!--<th>上报人</th>
                            <th>上报时间</th>-->
                            <th>负责人</th>
                            <th>生效时间</th>
                            <!--<th>期限</th>-->
                            <th>保养人</th>
                            <th>保养时间</th>
                            <th>计划描述</th>
                            <!--<th>优先级</th>-->
                            <th>备注</th>
                            <th>保养结论</th>
                            <th>审核人</th>
                            <th>审核时间</th>
                            <th>给分系数</th>
                            <th>状态</th>
                            {% if "删除保养" in modelsshow or "审核保养" in modelsshow %}
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for dataitem in data %}
                        <tr>
                            <td>{{ dataitem.classname }}</td>
                            <td>{{ dataitem.title }}</td>
                            <td>{{ dataitem.brief }}</td>
                            <td>{{ dataitem.name }}</td>
                            <td>{{ dataitem.position }}</td>
                            <!--<td>{{ dataitem.creator }}</td>
                            <td>{{ dataitem.createdatetime | date:'Y-m-d H:i:s' }}</td>-->
                            <td>{{ dataitem.assignor }}</td>
                            <td>{{ dataitem.assigndatetime | date:'Y-m-d H:i:s' }}</td>
                            <!--<td>{{ dataitem.deadline }}</td>-->
                            <td>{{ dataitem.editor }}</td>
                            <td>{{ dataitem.editdatetime | date:'Y-m-d H:i:s' }}</td>
                            <td>{{ dataitem.createcontent }}</td>
                            <!--<td>{{ dataitem.priority }}</td>-->
                            <td>{{ dataitem.memo }}</td>
                            <td>{{ dataitem.editcontent }}</td>
                            <td>{{ dataitem.auditor }}</td>
                            <td>{{ dataitem.auditdatetime | date:'Y-m-d H:i:s' }}</td>
                            <td>{{ dataitem.factor }}</td>
                            {% ifequal dataitem.state '4' %}
                            <td>未审核</td>
                            {% else %}
                            <td>已审核</td>
                            {% endifequal %}
                            {% if "删除保养" in modelsshow or "审核保养" in modelsshow %}
                            <td class="unsearchable">
                                <div class="hidden-sm hidden-xs action-buttons">
                                    {% ifequal dataitem.state '4' %}
                                    {% if "删除保养" in modelsshow %}
                                    <a class="red" href="/delete_upkeep?id={{ dataitem.id }}" onclick="delcfm()">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                    {% endif %}
                                    {% if "审核保养" in modelsshow %}
                                    <a class="blue" id="{{ dataitem.id }}" href="#my-modal" data-toggle="modal" onclick="$('#auditreason').hide();$('#ifchangeperson').hide();">
                                        <i class="ace-icon fa fa-check bigger-130"></i>
                                    </a>
                                    {% endif %}
                                    {% endifequal %}
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>
{% endblock %}

{% block tailjs %}
    <script src="../static/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/DT_bootstrap.js"></script>
    <script src="../static/TableTools/js/dataTables.tableTools.min.js" charset="utf-8" ></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script type="text/javascript">
        function delcfm() {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
        function auditChange() {
            if($('#factor').val() == -1) {
                $('#auditreason').show();
                $('#ifchangeperson').show();
            }
            else {
                $('#auditreason').hide();
                $('#ifchangeperson').hide();
            }
        }
        $(document).ready(function() {
            var table = $('#maintenance').DataTable({
                "aaSorting": [[ 6, "desc" ]],
                "oLanguage" : {
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "对不起，没有匹配的数据",
                    "sInfo" : "第 _START_ - _END_ 条 / 共 _TOTAL_ 条数据",
                    "sInfoEmpty" : "没有数据",
                    "sInfoFiltered" : "(数据表中共 _MAX_ 条记录)",
                    "sProcessing" : "正在加载中...",
                    "sSearch" : "搜索：",
                    "oPaginate" : {
                        "sFirst" : "第一页",
                        "sPrevious" : " 上一页 ",
                        "sNext" : " 下一页 ",
                        "sLast" : " 最后一页 "
                    }
                }
            });
            reactivate = function(){
                $(".fa-check").click(function() {
                    var dataline = this.parentNode.parentNode.parentNode.parentNode.getElementsByTagName("td");
                    var factor = document.getElementById("factor");

                    var factors = factor.getElementsByTagName("option");
                    var flength = factors.length;
                    var thefactor = dataline[15].innerHTML;
                    factors[0].setAttribute("selected", "selected");
                    for(var i = 1; i < flength; i++) {
                        if(factors[i].value == thefactor) {
                            factors[i].setAttribute("selected", "selected");
                            factors[0].removeAttribute("selected");
                        }
                        else {
                            factors[i].removeAttribute("selected");
                        }
                    }

                    factor.parentNode.parentNode.nextSibling.nextSibling.childNodes[3].childNodes[1].value = this.parentNode.id;
                });
            };
            $('td:not(.unsearchable)').click(function(){
                $('#maintenance_filter input').val($(this).html());
                $('#maintenance_filter input').select();
                document.onkeydown = function(event){
                    var e = event || window.event || arguments.callee.caller.arguments[0];
                    if(e && e.keyCode == 13){
                        setTimeout("reactivate();", 100);
                        e.preventDefault();
                    }
                };
            });
            reactivate();
            $('th').click(function(e){
                setTimeout("reactivate();", 100);
                e.preventDefault();
            });
            $('input[aria-controls="maintenance"]').bind('input', function(e){
                setTimeout("reactivate();", 100);
                e.preventDefault();
            });
            $('select[aria-controls="maintenance"]').bind('change', function(e){
                setTimeout("reactivate();", 100);
                e.preventDefault();
            });
            $('div.dataTables_paginate').click(function(e){
                setTimeout("reactivate();", 100);
                e.preventDefault();
            });
            var tableTools = new $.fn.dataTable.TableTools( table, {
                "sSwfPath": "../static/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "copy",
                    "xls",
                    //"pdf",
                    "print"
                ]
            } );
            $( tableTools.fnContainer() ).insertAfter($('#tabletools'));
        });
    </script>
{% endblock %}