{% extends 'userframe.html' %}
{% block js %}
    <script src="../static/assets/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block css %}
    <link href="../static/assets/css/datepicker.min.css" rel="stylesheet" media="screen">
    <link href="../static/assets/css/chosen.min.css" rel="stylesheet"  media="screen">
{% endblock %}
{% block pageheader %}
        编辑用户
{% endblock %}
{% block maincontent %}
         <!-- validation -->
        <div class="row-fluid well" style="width: 75%;margin: auto;">
             <!-- block -->
            <div class="block">
                <div class="block-content collapse in">
                    <div class="span12">
                        <div class="center">
                        {% if not data.isNew %}
                            <img src="{{ data.face }}" title="只有用户自己能修改头像">
                        {% endif %}
                        </div>

        <!-- BEGIN FORM-->
            <form action="/user_operate/" class="form-horizontal col-sm-12" enctype="multipart/form-data" method="POST">
            <fieldset>
                <h4 class="header blue bolder smaller">基本信息</h4>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">真实姓名<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="name" type="text" class="span6 m-wrap" value="{{ data.name }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属部门<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="classname">
                            {% for class in data.class_list %}
                            <option value="{{ class }}"{% ifequal data.class_name class%}selected="true" {% endifequal %}>{{ class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户状态<span class="required">*</span></label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="state">
                            <option value="0"{% ifequal data.state "0"%}selected="true"{% endifequal %}>锁定</option>
                            <option value="1"{% ifequal data.state "1"%}selected="true"{% endifequal %}>在岗</option>
                            <option value="2"{% ifequal data.state "2"%}selected="true"{% endifequal %}>长假</option>
                            <option value="3"{% ifequal data.state "3"%}selected="true"{% endifequal %}>离职</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户名<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="username" type="text" class="span6 m-wrap" value="{{ data.username }}" placeholder="不要多余20个字符"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">密码<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="password" type="password" class="span6 m-wrap" value="{{ data.password }}" placeholder="不要多余20个字符"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">确认密码<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="confirm_password" type="password" class="span6 m-wrap" value="{{ data.password }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">性别<span class="required">*</span></label>
                    <div class="col-sm-9">
                            <label class="inline">
                                <input name="gender" type="radio" class="ace" value="1" checked>
                                <span class="lbl middle"> 男</span>
                            </label>

                            &nbsp; &nbsp; &nbsp;
                            <label class="inline">
                                <input name="gender" type="radio" class="ace" value="0">
                                <span class="lbl middle"> 女</span>
                            </label>
                    </div>
                </div>
            <!--
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">图像</label>
                    <div class="col-sm-9">
                        <div id="imgdiv"><img id="imgShow" width="100" height="100" /></div>
                        <input type="file" class="file-uploader " name="face" id="up_img" placeholder="../static/images/user.png">
                    </div>
                </div>
            -->
                <h4 class="header blue bolder smaller">角色信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">用户角色<span class="required">*</span></label>

                    <div class="col-sm-9">
                        <div class="col-sm-6">
                            <select multiple="" class="chosen-select form-control" id="form-field-select-4" data-placeholder="选择用户角色" name="role">
                                {% for role in data.role_list %}
                                    {% if role in data.chosen_roles %}
                                        <option value="{{ role }}" selected="selected">{{ role }}</option>
                                    {% else %}
                                        <option value="{{ role }}">{{ role }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">联系信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">手机<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="mobile" type="text" class="span6 m-wrap" value="{{ data.mobile }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">电子邮箱</label>
                    <div class="col-sm-9">
                        <input name="email" type="text" class="span6 m-wrap" value="{{ data.email }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">联系地址</label>
                    <div class="col-sm-9">
                        <input name="address" type="text" class="span6 m-wrap" value="{{ data.address }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">邮政编码</label>
                    <div class="col-sm-9">
                        <input name="zipcode" type="text" class="span6 m-wrap" value = "{{ data.zipcode }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">出生日期<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input name="birthday" id="birthday" type="text" class="span6 m-wrap" placeholder="2015-01-01"
                               value="{{ data.birthday |date:"Y-m-d"}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">有效证件类型</label>
                    <div class="col-sm-5">
                        <select class="chosen-select" name="idcardtype">
                            <option value="">身份证</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">证件号码</label>
                    <div class="col-sm-9">
                        <input name="idcard" type="text" class="span6 m-wrap" value="{{ data.idcard }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">紧急联系人</label>
                    <div class="col-sm-9">
                        <input name="contact" type="text" class="span6 m-wrap" value="{{ data.contact }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">紧急联系人手机</label>
                    <div class="col-sm-9">
                        <input name="contactmobile" type="text" class="span6 m-wrap" value="{{ data.contactmobile }}"/>
                    </div>
                </div>

                <h4 class="header blue bolder smaller">其它信息</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">内容</label>
                    <div class="col-sm-9">
                        <input name="content" type="text" class="span6 m-wrap" placeholder="如：省份、毕业院校等" value="{{ data.content }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注</label>
                    <div class="col-sm-9">
                        <input name="memo" type="text" class="span6 m-wrap" placeholder="如：职务信息等" value="{{ data.memo }}"/>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">状态<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <select class="span6 m-wrap" name="status">
                            <option value="">选择...</option>
                            <option value="Category 1">删除</option>
                            <option value="Category 2">有效</option>
                            <option value="Category 3">审核未通过</option>
                            <option value="Category 4">审核通过</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" onclick="return checkvalid();">确定</button>
                        <button type="button" class="btn">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- END FORM-->
    </div>
    </div>
</div>
            <!-- /block -->
</div>
         <!-- /validation -->
{% endblock %}

{% block tailjs %}
    <script src="../static/assets/js/bootstrap-tag.min.js"></script>
    <script src="../static/assets/js/chosen.jquery.min.js"></script>
<script>
    $(function(){
        var purview_msg = "{{ purview_msg }}";
        if (purview_msg) {
            $.gritter.add({
                title: '您没有权限进行此操作',
                text: purview_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    });
</script>
    <script>
    $(function(){
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            startView: 2
        }).datepicker('setDate', new Date(1980, 1, 1));
        var server_msg="{{ server_msg }}";
        if (server_msg) {
            $.gritter.add({
                title: '系统消息',
                text: server_msg,
                class_name: 'gritter-error gritter-center'
            });
        }
    })
    </script>
    <script>
        jQuery(function($) {
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                         var $this = $(this);
                         $this.next().css({'width': $this.parent().width()});
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                     else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
    </script>
    <script>
        $(document).ready(function() {
        /*
            var str_chosen_role = '';
            var i = 0;
            {% for chosen_role in data.chosen_roles %}
                var chosen_role="{{ chosen_role }}";
                str_chosen_role = '<li class="search-choice"><span>'+ chosen_role+'</span><a class="search-choice-close" data-option-array-index="'+i+'"></a></li>';
                i = i + 1;
                $('.chosen-choices').prepend(str_chosen_role);
            {% endfor %}
            */

        });
    </script>
    <script>
        function checkvalid() {
            var username = $("[name='username']").val();
            var password = $("[name='password']").val();
            var confirm_password = $("[name='confirm_password']").val();
            var name = $("[name='name']").val();
            var mobile = $("[name='mobile']").val();
            mobile_re = /^1\d{10}$/;
            var birthday = $("[name='birthday']").val();
            birthday_re = /^(\d{4})-(\d{2})-(\d{2})$/
            var role = $("[name='role']").val();
            if(username.length < 1 || username.length > 20) {
                $("[name='username']").select();
                $.gritter.add({
                    title: '添加用户失败！',
                    text: '用户名格式有误！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(password != confirm_password) {
                $("[name='password']").select();
                $.gritter.add({
                    title: '添加用户失败！',
                    text: '两次密码不一致！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(name.length < 1) {
                $("[name='name']").select();
                $.gritter.add({
                    title: '添加用户失败！',
                    text: '真实姓名不能为空！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(!mobile_re.test(mobile)) {
                $("[name='mobile']").select();
                $.gritter.add({
                    title: '添加用户失败！',
                    text: '手机号格式有误！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(!birthday_re.test(birthday)) {
                $("[name='mobile']").select();
                $.gritter.add({
                    title: '添加用户失败！',
                    text: '日期格式有误！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            else if(!role) {
               $("[name='role']").select();
               $.gritter.add({
                    title: '添加用户失败！',
                    text: '请为用户添加角色！',
                    class_name: 'gritter-error gritter-center'
                });
                return false;
            }
            return true;
        }
    </script>
{% endblock %}