{% extends 'userframe.html' %}
{% block js %}
    <script src="../static/treeview/js/bootstrap-treeview.js"></script>
{% endblock %}
{% block css %}
    <link href="../static/treeview/css/bootstrap-treeview.css" rel="stylesheet" media="screen">
    <link href="../static/css/filetree.css" rel="stylesheet" media="screen">
    <link href="../static/css/user.css" rel="stylesheet" media="screen">
{% endblock %}

{% block pageheader %}
    查看用户
{% endblock %}

{% block maincontent %}
    <!--画文件树-->
<div class="col-xs-5">
    <div id="treeview6"></div>
</div>

{% if userinfo %}
<div class="col-xs-7">
    <div class="profile-users clearfix">
        <div class="itemdiv memberdiv">
            <div class="inline pos-rel">
                <div class="user">
                    <a href="#">
                        <img src="../static/images/user.png" >
                    </a>
                </div>
                <!--
                <div class="body">
                    <div class="name">
                            <span class="user-status status-online"></span>
                            昵称
                    </div>
                </div>
                -->
            </div>
        </div>
        <h2>
            {{ userinfo.username }}
        </h2>
    </div>
    <hr style="margin: 10px"/>
    <div class="row">
        <div class="col-xs-2 my-user-info">
            <i class="ace-icon fa fa-phone info-icon"></i>
        </div>
        <h5 class="col-xs-9 info-text">
              手机：{{ userinfo.mobile }}
        </h5>
    </div>
    <hr style="margin: 10px"/>
    <div class="row">
        <div class="col-xs-2 my-user-info">
            <i class="ace-icon fa fa-envelope info-icon"></i>
        </div>
        <h5 class="col-xs-9 info-text">
              邮箱：{{ userinfo.email }}
        </h5>
    </div>
    <hr style="margin: 10px" />
    <div class="row">
        <div class="col-xs-2 my-user-info">
            <i class="ace-icon fa fa-trophy info-icon"></i>
        </div>
        <h5 class="col-xs-9 info-text">
              职务：天坛项目部-空调组
        </h5>
    </div>
    <hr style="margin: 10px"/>
    <div class="row">
        <div class="col-xs-2 my-user-info">
            <i class="ace-icon fa fa-child info-icon"></i>
        </div>
        <h5 class="col-xs-9 info-text">
              角色：<div class="tags"><span class="tag">查看</span><span class="tag">添加</span></div>
        </h5>
    </div>

    <hr style="margin: 10px"/>
    <a class="btn btn-white btn-danger btn-bold" style="float:right" href="/userdel?id={{userid}}">
        <i class="ace-icon fa fa-trash-o bigger-130"></i>删除
    </a>
    <span style="float:right">&nbsp;&nbsp;</span>
    <a class="btn btn-white btn-info btn-bold" style="float:right" href="/user_operate/?id=1">
        <i class="ace-icon fa fa-pencil bigger-130"></i>编辑
    </a>
</div>
    {% endif %}
{% endblock %}

{% block tailjs %}
<script>
  		$(function() {

        var reg1=new RegExp("&quot;","g");
        var reg2=new RegExp("&#39;","g");
        var defaultData = '[';
        {% for d in data %}
            var tmpdata = '{{ d }}';
            tmpdata = tmpdata.replace(reg1,"\'");
            tmpdata = tmpdata.replace(reg2,"\"");
            defaultData += tmpdata + ',';
        {% endfor %}
        defaultData = defaultData.substr(0,defaultData.length-1);
        defaultData += ']';
        //defaultData = '[{"text": "Parent 2", "href": "#parent2"}]';
        console.log(defaultData);
        //var tmp = '[{"text":"parent 1", "href":"hi"}]';
        //var defaultData = eval('(' + tmp + ')');

        var json = '[' +
          '{' +
            '"text": "Parent 1",' +
            '"nodes": [' +
              '{' +
                '"text": "Child 1",' +
                '"nodes": [' +
                  '{' +
                    '"text": "Grandchild 1"' +
                  '},' +
                  '{' +
                    '"text": "Grandchild 2"' +
                  '}' +
                ']' +
              '},' +
              '{' +
                '"text": "Child 2"' +
              '}' +
            ']' +
          '},' +
          '{' +
            '"text": "Parent 2"' +
          '},' +
          '{' +
            '"text": "Parent 3"' +
          '},' +
          '{' +
            '"text": "Parent 4"' +
          '},' +
          '{' +
            '"text": "Parent 5"' +
          '}' +
        ']';


        $('#treeview1').treeview({
          data: defaultData
        });

        $('#treeview2').treeview({
          levels: 1,
          data: defaultData
        });

        $('#treeview3').treeview({
          levels: 99,
          data: defaultData
        });

        $('#treeview4').treeview({
          color: "#428bca",
          data: defaultData
        });

        $('#treeview5').treeview({
          color: "#428bca",
          expandIcon: 'glyphicon glyphicon-chevron-right',
          collapseIcon: 'glyphicon glyphicon-chevron-down',
          nodeIcon: 'glyphicon glyphicon-bookmark',
          data: defaultData
        });

        $('#treeview6').treeview({
          color: "#428bca",
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",
          showTags: true,
          enableLinks: true,
          data: defaultData
        });

        $('#treeview7').treeview({
          color: "#428bca",
          showBorder: false,
          data: defaultData
        });

        $('#treeview8').treeview({
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",
          color: "yellow",
          backColor: "purple",
          onhoverColor: "orange",
          borderColor: "red",
          showBorder: false,
          showTags: true,
          highlightSelected: true,
          selectedColor: "yellow",
          selectedBackColor: "darkorange",
          data: defaultData
        });

        $('#treeview10').treeview({
          color: "#428bca",
          enableLinks: true,
          data: defaultData
        });

        $('#treeview11').treeview({
          color: "#428bca",
          data: defaultData,
          onNodeSelected: function(event, node) {
            $('#event_output').prepend('<p>You clicked ' + node.text + '</p>');
          }
        });

        // $('#treeview11').on('nodeSelected', function (event, node) {
        //   $('#event_output').prepend('<p>You clicked ' + node.text + '</p>');
        // });

  		});
</script>
<script src="../static/assets/js/bootstrap-tag.min.js"></script>
{% endblock %}