<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.tsinghua.thss.popcorn" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RecordListActivity"
            android:label="@string/title_activity_record"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TableActivity"
            android:label="@string/title_activity_table"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QRcode.QRcodeActivity"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RepairListActivity"
            android:label="@string/title_activity_repair_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RepairActivity"
            android:label="@string/title_activity_repair"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MaintainListActivity"
            android:label="@string/title_activity_maintain_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MaintainActivity"
            android:label="@string/title_activity_maintain"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
